[KdmGreeterTheme]
Encoding=UTF-8
Greeter=kdm.xml
Name=ArchAssault Simply Black KDM theme
Description=Primary KDM theme for The ArchAssault Project.
Author=The ArchAssault Project Team - team@archassault.org
Screenshot=screenshot.png
